<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.0.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="com.b2b.dubbo.service.service.impl" />

	<!-- Resolves view names to protected .jsp resources within the /WEB-INF/views directory -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!--
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="fileEncodings" value="utf-8" />
		<property name="cacheSeconds" value="120" />
	</bean>
	-->

	<!--<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">-->
		<!--&lt;!&ndash;<property name="validationMessageSource" ref="messageSource" />&ndash;&gt;-->
	<!--</bean>-->

	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="useDefaultSuffixPattern" value="false" />
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>

	<!-- Does not support file-upload
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
	-->
    <!--
	<bean id="conversionService"
		  class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.yuzooo.b2b.spring.StringToDateConverter">
					<property name="patterns">
						<set>
							<value>yyyy-MM</value>
							<value>yyyy-MM-dd</value>
							<value>yyyy-MM-dd HH</value>
							<value>yyyy-MM-dd HH:mm</value>
							<value>yyyy-MM-dd HH:mm:ss</value>
							<value>yyyy-MM-ddTHH:mm:ss</value>
						</set>
					</property>
				</bean>
			</set>
		</property>
	</bean>
	-->

	<mvc:annotation-driven  />
	<!--<mvc:annotation-driven />-->

	<!-- 对静态资源文件的访问   -->  
	<!--<mvc:resources mapping="/resources/**" location="/resourcee/" />-->

	<!-- Enables swagger ui-->
	<!--<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>-->
	<!--<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>-->
	<!--<bean class="com.yuzooo.b2b.config.Swagger2Config"/>-->

</beans>